.slider-bg{
    background: #fbe6e6;
}

.carousel-item{
    padding: 20px 40px;
}

.buy-now-button{
    color: white;
    background-color: rgb(243, 37, 71);
    border: none;
    padding: 8px 22px;
    border-radius: 5px;
}

#shose{
    margin-top: 600px;
    margin-bottom: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 12px lightblue;

}
#subscribe{
    height: 300px;
    background-color: #fbe6e6;
    margin: 100px;
    
}
#subscribe button{
    margin-top: 30px;
}